<div class="modal fade" id="signUpModal" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="tabs">
          <!--  LOG IN  -->
          <input class="radio" id="modal-tab-1" name="tabs-name" type="radio" checked />
          <label for="modal-tab-1" class="table"><span>Login</span></label>
          <div class="tabs-content">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name), "data-header-target": "loginForm") do |f| %>
              <%= f.email_field :email, placeholder: 'Email', autocomplete: "email", required: true, "data-header-target": 'emailModal' %>
              <%= f.password_field :password, placeholder: 'Password', autocomplete: "current-password", "data-header-target": 'passwordModal' %>
              <input type="submit" value="Login" />
            <% end %>
          </div>
          <!--  SIGN UP  -->
          <input class="radio" id="modal-tab-2" name="tabs-name" type="radio" />
          <label for="modal-tab-2" class="table"><span>Sign up</span></label>
          <div class="tabs-content">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), "data-header-target": "registerForm") do |f| %>
              <%= f.email_field :email, placeholder: 'Email', autocomplete: "email", required: true, "data-header-target": 'emailModal' %>
              <%= f.password_field :password, placeholder: 'Password', autocomplete: "current-password", "data-header-target": 'passwordModal' %>
              <%= f.password_field :password_confirmation, placeholder: 'Password confirmation', autocomplete: "new-password" %>
              <input type="submit" value="Registration" />
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>